* {
  font-family: Inter, Arial, sans-serif;
  @apply text-primary-black;
}

*::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  background-color: #6c5ce7;
}

* {
  word-break: break-word;
}
body{
  background-color: #F5F5F5 ;
}

/*Remove blue highlight when tapping on mobile*/
input,
textarea,
button,
select,
a,
svg,
img {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
button {
  @apply focus:outline-none;
}

/* Hide tinymce warnings */
.tox .tox-silver-sink .tox-tinymce-aux {
  display: none;
}
.tox-notification .tox-notification--in .tox-notification--warning {
  display: none;
}
.tox-notifications-container {
  display: none;
}
