* {
  font-family: Inter, Arial, sans-serif;
  @apply text-primary-black;
}

*::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  background-color: #6c5ce7;
}

* {
  word-break: break-word;
}
body{
  background-color: #F5F5F5 ;
  background-image: url('https://img.freepik.com/free-photo/white-concrete-wall_53876-92803.jpg?w=1380&t=st=1674860532~exp=1674861132~hmac=6803f87733ba4d653a667f30fb3eabc172c0964099b519b8f5794271a6d6de7f');
  background-size: cover;
}

/*Remove blue highlight when tapping on mobile*/
input,
textarea,
button,
select,
a,
svg,
img {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
button {
  @apply focus:outline-none;
}

/* Hide tinymce warnings */
.tox .tox-silver-sink .tox-tinymce-aux {
  display: none;
}
.tox-notification .tox-notification--in .tox-notification--warning {
  display: none;
}
.tox-notifications-container {
  display: none;
}
